:root{
    --maize-crayola: #eec643ff;
    --eerie-black: #141414ff;
    --cultured: #eef0f2ff;
    --blue-pantone: #0d21a1ff;
    --oxford-blue: #011638ff;
}
body{
    margin:0;
}
main{
    background-color: var(--cultured);
    width:50%;
    height: 100%;
    margin: auto;
    z-index: 5;
    top:0;
    position:fixed;
}
header{
    background-color: var(--eerie-black);
    padding: 20px;
}
header h1{
    text-align: center;
    color:var(--maize-crayola);
}
canvas{
    z-index: 1;
    width:50%;
    float:right;
}
section{
    color: var(--cultured);
    padding:0;
    width:100%;
}
section h2{
    background-color: var(--blue-pantone);
    padding: 10px;
    margin:0;
}
section p,section ul{
    background-color: var(--oxford-blue);
    padding: 5px;
    margin:0;
}
section a{
    text-decoration: none;
}
footer{
    width:100%;
    clear:both;
    z-index: 10;
    background-color: var(--eerie-black);
    color: var(--cultured);
    position:fixed;
    bottom: 0;
}